{% comment %}
  Displays a blog excerpt

  @param {Object} page - Page blog object
  @returns {void}
{% endcomment %}

{% assign mime_image_types = "image/jpeg,image/png" | split:"," %}

{% assign card_img = nil %}
{% for attachment in page.attachments %}
  {% assign file_name = attachment.file_name | downcase | split:"." | first %}

  {% if mime_image_types contains attachment.content_type and file_name == "thumbnail" %}
    {% assign card_img = attachment.url %}
    {% break %}
  {% endif %}
{% endfor %}

<article class="blog-excerpt mb-5 pb-5 border-bottom">
  <div class="row align-items-center">
    <div class="col-12 col-md-5 mb-4 mb-md-0">
      <div class="blog-image-container position-relative overflow-hidden rounded">
        {% if card_img or page.has_meta_image? %}
          <img src="{{ card_img | default: page.meta_image_url }}" class="img-fluid w-100" style="height: 300px; object-fit: cover;" />
          <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center">
            <span class="text-uppercase text-white fw-bold fs-2 p-2" style="background-color: rgba(0,0,0,0.4);">{{ site.long_name }}</span>
          </div>
        {% else %}
          <div class="bg-color-2 d-flex align-items-center justify-content-center" style="height: 300px;">
            <span class="text-uppercase text-white fw-bold fs-2 p-2">{{ site.long_name }}</span>
          </div>
        {% endif %}
      </div>
    </div>
    
    <div class="col-12 col-md-7">
      <div class="blog-content-container ps-md-4">
        <h2 class="mb-3">
          <a href="{{ page.url }}" class="text-dark text-decoration-none">{{ page.headline }}</a>
        </h2>
  
        <div class="post-excerpt mb-3">
          <p>{{ page.blog_post.content_full | strip_html | truncatewords: 32 }}</p>
        </div>
        
        <a href="{{ page.url }}" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div>
</article>